@using AutoMax.Common.Enums;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoMax - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/style.css">
    <link rel="shortcut icon" href="~/assets/images/top_icon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/tooltipster/dist/css/tooltipster.bundle.min.css">

    @{
        var userName = ComonMethods.GetUserName(User.Identity.Name);
        var FullName = ComonMethods.GetFullName(User.Identity.Name);
        var userRole = User.Identity.Name.GetUserRole();
    }
</head>
<body>
    <nav class="left-nav">
        @Html.Partial("_leftMenu")
    </nav>
   
    <nav class="navbar navbar-inverse left-margin navbar-static-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
               <li style="color:white;margin-top:7%"> Welcome  @FullName</li>
                <li class="dropdown">
                    <a class="dropdown-toggle tooltip-bottom" data-toggle="dropdown" title="User Setting" href="#"><i class="fa fa-user-circle fa-lg"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">@userName</a></li>
                        <li><a href="@Url.Content("~/Users/ChangePassword")">Change Password</a></li>
                    </ul>
                </li>
                <li><a href="@Url.Content("~/Home/Logout")" title="Logout" class="tooltip-bottom"><span class="fa fa-power-off fa-lg"></span></a></li>
            </ul>
        </div>
    </nav>
    <div id="setting-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Settings</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Settings")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid left-margin">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/dashboardscript")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/assets/plugins/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <script type="text/javascript" src="~/assets/scripts/tootip.js"></script>
    <script>
        $(document).ready(function () {

            // auto clear after 3 Seconds
            setTimeout(function () { $("#notificationMessageID .close").trigger('click'); }, 3000);
        });
    </script>
</body>
</html>