@model AutoMax.Models.CarInformationViewModel
@using AutoMax.Common.Enums;
@{ 
    var userName = ComonMethods.GetUserName(User.Identity.Name);
    var userRole = User.Identity.Name.GetUserRole();
}
<div id="menu1" class="tab-pane fade @((Request["type"] =="info")?"in active":"") margin-none">
    <div class="panel panel-default border-top-none">
        <div class="panel-body view-height-250 custom-panel-padding">
            <form action="" >
               
                <div class="row carInformationDiv">
                    <div class="col-md-4 col-lg-4">
                        
                        <div class="form-group custom-group">
                            <label class="input-group-label" for="vin">VIN:</label>
                            <input type="text" class="form-control custom-control" id="vin" name="" value="@Model.VIN" disabled>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="year">Inventory Status:</label>
                            @if (userRole == UserRolesConst.ADMIN || userRole == UserRolesConst.SUPER_ADMIN || userRole == UserRolesConst.Marketing)
                            {
                                @Html.DropDownList("InventoryStatusID", null, "Select Inventory Status", new { @class = "form-control custom-control" })
                            }
                            else
                            {
                                @Html.DropDownList("InventoryStatusID", null, "Select Inventory Status", new { @class = "form-control custom-control", @disabled = "disabled" })
                            }
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="year">Year:</label>
                            @Html.DropDownList("YearID", null, "Select Year", new { @class = "form-control custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="year">Vehicle Type:</label>
                            @Html.DropDownList("VehicleTypeID", null, "Select Vehicle Type", new { @class = "form-control custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="make">Make:</label>
                            @Html.DropDownList("MakerID", null, "Select Make", new { @class = "form-control custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="model">Model:</label>
                            @Html.DropDownList("AutoModelID", null, "Select Model", new { @class = "form-control custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="model">Sub Model:</label>
                            @Html.DropDownList("SubModelID", null, "Select Sub Model", new { @class = "form-control custom-control" })
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="e_color">Exterior Color:</label>
                            @Html.DropDownList("AutoExteriorColorID", null, "Select Exterior Color", new { @class = "form-control  custom-control" })
                        </div>
                    </div>
                    @*<div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="condition">Condition:</label>
                            @Html.DropDownList("AutoConditionID", null, "Select Condition", new { @class = "form-control custom-control" })
                        </div>
                    </div>*@
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="odometer">Odometer:</label>
                            <input type="text" class="form-control custom-control" id="odometer" name="" value="@Model.Odometer">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="i_color">Interior Color:</label>
                            @Html.DropDownList("AutoInteriorColorID", null, "Select Interior Color", new { @class = "form-control  custom-control" })
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="stock_no">Stock #:</label>
                            <input type="text" class="form-control custom-control" id="stock_no" name="" value="@Model.StockNumber">
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="door">Doors:</label>
                            @Html.DropDownList("AutoDoorsID", null, "Select Doors", new { @class = "form-control  custom-control" })
                        </div>
                    </div>
                    
                    
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="f_type">Fuel Type:</label>
                            @Html.DropDownList("FuelTypeID", null, "Select Fuel Type", new { id = "f_type", @class = "form-control  custom-control" })
                        </div>
                    </div>
                    <script>
                                var select = document.getElementById("f_type");
                                debugger;
                                for (var ii = 0; ii < select.length; ii++)
                                    if (select.options[ii].text == "Petrol") { //Found!
                                        select.options[ii].selected = true;

                                    }
                    </script>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="engine">Engine:</label>
                            @Html.DropDownList("AutoEngineID", null, "Select Engine", new { @class = "form-control  custom-control" })
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="d_type">Drive Type:</label>
                            @Html.DropDownList("DriveTypeID", null, "Select Drive Type", new { id = "d_type", @class = "form-control  custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="audio">Audio:</label>
                            @Html.DropDownList("VehicleAudioID", null, "Select Audio", new { @class = "form-control  custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="transmission">Transmission:</label>
                            @Html.DropDownList("AutoTransmissionID", null, "Select Transmission", new { id = "transmission", @class = "form-control  custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="f_text">Free Text:</label>
                            <input type="text" class="form-control custom-control" id="f_text" name="" value="@Model.FreeText">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="f_text">Free Text(Arabic):</label>
                            <input type="text" class="form-control custom-control" id="ArabicFreeText" name="" value="@Model.ArabicFreeText">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="f_text">Condition:</label>
                           @Html.DropDownList("AutoUsedStatusID", null, "Select Condition", new { id = "AutoUsedStatusID", @class = "form-control  custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="f_text">Plate Number:</label>
                            <input type="text" class="form-control custom-control" id="plateNo" name="" value="@Model.PlateNumber">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="odometer">Purchasing Cost:</label>
                            <input type="text" class="form-control custom-control" id="purchaseCost" name="" value="@Model.PurchasingCost">    
                            @*@if (userRole == UserRolesConst.ADMIN || userRole == UserRolesConst.SUPER_ADMIN)
                                {
                                   
                                }
                                else
                                {
                                    <input type="text" class="form-control custom-control" id="purchaseCost" name="" value="@Model.PurchasingCost"  disabled>
                                }*@
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="odometer">Selling Cost:</label>
                            <input type="text" class="form-control custom-control" id="price" name="" value="@Model.Price">
                            @*@if (userRole == UserRolesConst.ADMIN || userRole == UserRolesConst.SUPER_ADMIN)
                            {
                                <input type="text" class="form-control custom-control" id="price" name="" value="@Model.Price">
                            }
                            else
                            {
                                <input type="text" class="form-control custom-control" id="price" name="" value="@Model.Price" disabled>
                            }*@
                           
                        </div>
                    </div>

                <div class="col-md-4 col-lg-4">
                    <div class="form-group custom-group">
                        <label for="f_text">Air Bag:</label>
                        @Html.DropDownList("AutoAirBagID", null, "Select Air Bag", new {id = "AutoAirBagID", @class = "form-control  custom-control"})
                    </div>
                </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="f_text">Roof Type:</label>
                            @Html.DropDownList("RoofTypeID", null, "Select Roof Type", new { id = "RoofTypeID", @class = "form-control  custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="f_text">Upholstery:</label>
                            @Html.DropDownList("UpholsteryID", null, "Select Upholstery", new { id = "UpholsteryID", @class = "form-control  custom-control" })
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group custom-group">
                            <label for="year">360 Image Available:</label>
                            @Html.CheckBoxFor(x => x.Has360)

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                     <p class="alert alert-success" id="virInfoSuccess" style="display:none;"></p>
                     <p class="alert alert-danger" id="virInfoError" style="display:none;"></p>
                    </div>
                </div>
</form>
        </div>
        
        <div class="m-bottom-20">
            <div class="row">
                <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">
                  
                    <button class="btn btn-block btn-custom" id="btnSave" name="" value="" onclick="SaveInfo()">Save</button>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        /*
        Marketing user can change every thing except
        InventoryStatusID,purchaseCost,price

        Finance User can only change 
        purchaseCost,price
        */
        var ismarketingUser = '@(userRole == UserRolesConst.Marketing ? "true" : "false")';
        if (ismarketingUser == 'true')
        {
            //InventoryStatusID,purchaseCost,price
            $("#purchaseCost").attr('disabled', true);
            $("#price").attr('disabled', true);
           
            
            console.log('Marketing User');
        }
        var isFinanceUser = '@(userRole == UserRolesConst.Finance ? "true" : "false")';
        if (isFinanceUser == 'true')
        {
            debugger;
            $(".carInformationDiv input,select,checbox").each(function () { $(this).attr('disabled', true); });
            $("#purchaseCost").attr('disabled', false);
            $("#price").attr('disabled', false);
            $("#btnSave").removeAttr('disabled', 'disabled');
            
            //console.log('Finance User');
        }
        var isDOP = '@(userRole == UserRolesConst.DataOP ? "true" : "false")';
        if (isDOP == 'true') {
            debugger;
            $(".carInformationDiv input,select,checbox").each(function () { $(this).attr('disabled', true); });
            $("#purchaseCost").attr('disabled', false);
            $("#price").attr('disabled', false);
            console.log('DOP');
        }
    });
</script>