@model AutoMax.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style type="text/css">
    .requiredField {
        color: red;
    }
</style>
<div class="row">
    <div class="col-md-3 col-lg-3">
        <div class="v-center-parent" style="height: 100vh; width: 100%;">
            <div class="v-center-child" style="width: 100%;">
                <form action="@Url.Content("~/Users/ForgotPassword")" method="post">
                    <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
                    <div class="text-center">
                        <a href="@Url.Content("~/Home/Login")"> <img class="img-responsive m-auto-center" src="~/assets/images/logo.png"></a>
                        <h2 class="header-primary m-top-30 m-bottom-30">FORGOT PASSWORD</h2>
                    </div>
                    @Html.ValidationSummary(false, "", new { @class = "requiredField" })
                    <div class="form-group custom-group" style="padding:0 24px;">
                        @if (ViewBag.EmailID != "" && ViewBag.EmailID != null)
                        {
                            <p style="color:green;">An email has been sent to @ViewBag.EmailID</p>
                        }
                        else
                        {
                            <label for="username">Email <span class="requiredField">*</span></label>
                            <input type="email" class="form-control custom-control" id="username" name="Email" placeholder="Enter Email" style="background-color: #f9fafb; border: none; box-shadow: none;border:0.5px solid #C2C2C2" required>
                        }
                        
                    </div>
                    @if (ViewBag.EmailID == "" || ViewBag.EmailID == null)
                    {
                        
                    <div style="padding:0 24px;">
                        <button type="submit" class="btn btn-block btn-custom" style="margin-top: 24px;" name="" value="">Send</button> &nbsp; &nbsp;
                        <br />
                        <a href="@Url.Content("~/Home/Login")">Back to Login?</a> &nbsp;&nbsp;
                    </div>
                    }
                    else
                    {
                        <div style="padding:0 24px;">
                            <a href="@Url.Content("~/Home/Login")"><button type="button" class="btn btn-block btn-warning" style="margin-top: 24px;" name="" value="" onclick="@Url.Content("~/Home/Login")">Go Back</button></a>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-lg-9 hidden-xs hidden-sm" style="height: 100vh; overflow: hidden; padding-right: 0;">
        <img src="~/assets/images/login-bg-2.png" class="img-responsive pull-right" style="width: 100%;">
    </div>
</div>
@section Scripts{
<script type="text/javascript" src="~/assets/plugins/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
}