@model PagedList.IPagedList<AutoMax.Models.Entities.AutoEngine>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage Engine";
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.5/css/theme.default.min.css" rel="stylesheet" />
</head>
<div class="row">
    <div class="col-md-10">
        <h3 class="main-header">@ViewBag.Title</h3>
    </div>
</div>
<div class="clearfix">

</div>


<div class="panel panel-default main-panel">
    <div class="panel-body">
        <form action="@Url.Content("~/AutoEngine/Index")" method="post">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="input-group">
                        <input type="text" class="form-control custom-control" placeholder="Engine Name" id="Name" name="Name" value="@ViewBag.Name">
                    </div>
                </div>
                <div class="col-md-offset-6 col-lg-offset-6 col-md-3 col-lg-3 clearfix">
                    <a href="@Url.Content("~/AutoEngine/Edit")/0" class="btn btn-custom pull-right" style="margin-left: 10px;">Add</a>
                    <button type="submit" class="btn btn-submit btn-custom pull-right" style="margin-left: 10px;">Search</button>
                </div>
            </div>

        </form>
    </div>
</div>
@Html.Partial("_Notifications")
<div class="panel panel-default main-panel" style="margin-top:36px;">
    <div class="panel-body">
        <table id="tblsort" class="table tablesorter" style="border-spacing: 10px;border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Engine Name</th>
                    <th>Arabic Engine Name</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th class="unsortable">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="">
                        <td>@item.EngineName</td>
                        <td>@item.ArabicEngineName</td>
                        <td>@item.CreatedDate.ToString(AutoMax.Utility.Constants.DATE_FORMAT)</td>
                        <td>@item.UpdatedDate.ToString(AutoMax.Utility.Constants.DATE_FORMAT)</td>
                        <td>
                            <a href="@Url.Content("~/AutoEngine/Edit/" + item.AutoEngineID)" title="Edit" style="color:blue;font-size:10px;">
                                <i class="fa fa-pencil fa-2x"></i>
                            </a>
                            <a href="#" onclick="deleteColor(@item.AutoEngineID)" title="Delete" style="color:red;font-size:10px;">
                                <i class="fa fa-trash fa-2x"></i>
                            </a>
                        <td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/5df3e9a121.js"></script>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>-->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="~/assets/plugins/datatables/datatables.min.js"></script>-->
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.widgets.min.js"></script>
     <script>
        $(function () {
            $("#tblsort").tablesorter(
                {
                    textSorter: function (a, b) {
                        return a.localeCompare(b);
                    },
                    headers: {
                        '.unsortable': { sorter: false },
                        1: { sorter: "text" },
                        4: { sorter: "text" }
                    },
                    ignoreCase: true
                    //selectorHeaders: '> thead > tr > th  '
                    // cssChildRow: 'expand-child'
                });
        });
    </script>
    <script type="text/javascript">
        function deleteColor(ID) {
            if (ID) {
                var confrDelete = window.confirm("Are you sure you want to delete?");
                if (confrDelete) {
                    $.ajax({
                        url: '@Url.Content("~/AutoEngine/Delete")',
                        data: { ID: ID },
                        type: 'POST',
                        success: function (data) {
                            if (data.IsDeleted) {
                                $('#notificationMessageID').addClass("alert alert-success");
                                $('#notificationMessageID').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a> " + data.Message);
                            } else {
                                $('#notificationMessageID').addClass("alert alert-danger");
                                $('#notificationMessageID').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a> " + data.Message);
                                console.log(data.Message);
                            }
                            setTimeout(function () { window.location.href = '@Url.Action("Index", "AutoEngine")'; }, 3000);
                        },
                        error: function (xHR, status, error) {
                            console.log(error);
                            alert("Some error occured while deleting record. Please try agian.");
                        }
                    });
                }
            }
        }
    </script>
}



