@model AutoMax.Models.Entities.PostingField

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PostingField</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PostingFieldID)

        <div class="form-group">
            @Html.LabelFor(model => model.PostingSiteID, "PostingSiteID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PostingSiteID", String.Empty)
                @Html.ValidationMessageFor(model => model.PostingSiteID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FieldName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FieldName)
                @Html.ValidationMessageFor(model => model.FieldName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncludeInPosting, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncludeInPosting)
                @Html.ValidationMessageFor(model => model.IncludeInPosting)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncludeOrder, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncludeOrder)
                @Html.ValidationMessageFor(model => model.IncludeOrder)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdatedBy)
                @Html.ValidationMessageFor(model => model.UpdatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdatedDate)
                @Html.ValidationMessageFor(model => model.UpdatedDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
